---
const events = [
 {
     title: "Conférence sur les astres",
     date: "Lundi 12 Juillet",
     favori: true,
 },
 {
     title: "Atelier sur les étoiles",
     date: "Mardi 13 Juillet",
     favori: false,
 },
];
import Base from '../layouts/Base.astro';
import Card from '../components/Card.astro';
---

<Base titre="Agenda">
    <h1 class="animate-pulse justify-center flex mt-10 text-lg mb-14">Bienvenue sur la page agenda !</h1>
    {events.map((event) => (
        <Card title={event.title} date={event.date} favori={event.favori} />
    ))}
</Base>

