---
import Header from "../components/Header.astro";
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Agence immobilière</title>
	</head>
	<body>
		<Header/>
		<h1>Bienvenue sur la page d'accueil !</h1>
	</body>
</html>

