---
import Base from '../layouts/Base.astro';
import CardOffre from '../components/CardOffre.astro';
import { getData } from '../js/backend.old.mjs';

const offres = await getData();
const offresFavoris = offres.filter(offre => offre.favori);
---

<Base titre="Accueil">
    <h1 class="animate-pulse justify-center flex mb-10 mt-6 text-lg">Bienvenue sur la page d'accueil !</h1>

    <div class="flex flex-wrap justify-center gap-4">
        {offresFavoris.map((offre) => (
            <div class="w-full sm:w-1/2 lg:w-1/3 mb-4">
                <CardOffre {...offre} />
            </div>
        ))}
    </div>
</Base>

