---
import Header from "../components/Header.astro";
---
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Accueil</title>
    </head>
    <body>
        <Header/>
        <h1>Bienvenue sur la page des offres !</h1>
    </Header>
    </body>
</html>