---
const { title, date, favori } = Astro.props;
const { adresse, favoris, id, nbChambres, nbSdb, nomMaison, prix, surface, imgUrl } = Astro.props;
---

<div x-data=`{favori: ${favori}}` x-bind:class="{'bg-pink-200': favori}">
    <h2 class="justify-center flex font-bold text-teal-900">{title}</h2>
    <p class="justify-center flex font-bold text-teal-900">{date}</p>
    {favori && <p class="justify-center flex mb-5">⭐</p>}
    <button class="justify-center flex bg-slate-200 rounded-2xl p-3" x-on:click="favori = !favori" >Favori</button>
</div>