---
const { title, date, favori } = Astro.props;
const { adresse, favoris, id, nbChambres, nbSdb, nomMaison, prix, surface, imgUrl } = Astro.props;
---


<button class="" x-on:click="favori = !favori" >Favori</button>