<footer class="bg-teal-900 w-full h-60 flex items-center justify-center mt-10">
    <div class="flex-col">
    <div class="text-center text-zinc-50 txt-center mb-4">
       <h4> Lucas LEBARS</h4>
    </div>
    <div class="text-center text-zinc-50 txt-center  mb-4">
       <h4>MMI1 B2</h4> 
    </div>
    <div class="text-center text-zinc-50  txt-center mb-4">
      <h4>&copy; 2025 - All rights reserved</h4>  
    </div>
</div>
</footer> 