<nav class="w-full bg-teal-900 h-14 flex items-center justify-center">
   <div class="justify-between flex  ">
    <img src="src/assets/logo.png" class="h-8 "/>
    </div> 
    <div class="flex-grow text-white font-bold flex justify-center space-x-4">
    <a href="/">Accueil</a>
    <a href="/offres">Offres</a>
</div>
</nav>
