---
import {addOffre} from '../../js/backend.mjs'
let message = '';
if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const response = await addOffre(formData);
    message = response.message;
}
---



<h1 class="text-3xl font-bold mt-10 mb-6 text-center">Ajouter une offre</h1>
<p class="text-center text-green-500 mb-4">{message}</p>
<form action="/offres/add" method="POST" enctype="multipart/form-data" class="max-w-lg mx-auto bg-white p-8 rounded-md shadow-md" onsubmit="return validateForm()">
    <div class="mb-4">
        <label for="nomMaison" class="block text-gray-700 font-bold mb-2">Nom de la maison</label>
        <input type="text" id="nomMaison" name="nomMaison" placeholder="Nom de la maison" required class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500" />
    </div>
    <div class="mb-4">
        <label for="adresse" class="block text-gray-700 font-bold mb-2">Adresse </label>
        <input type="text" id="adresse" name="adresse" placeholder="Adresse" required class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500" />
    </div>
    <div class="mb-4">
        <label for="prix" class="block text-gray-700 font-bold mb-2">Prix</label>
        <input type="number" id="prix" name="prix" placeholder="Prix" required min="0" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500" />
    </div>
    <div class="mb-4">
        <label for="nbSdb" class="block text-gray-700 font-bold mb-2">Nombre de salles de bain</label>
        <input type="number" id="nbSdb" name="nbSdb" placeholder="Nombre de salles de bain" required min="0" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500" />
    </div>
    <div class="mb-4">
        <label for="nbChambres" class="block text-gray-700 font-bold mb-2">Nombre de chambres</label>
        <input type="number" id="nbChambres" name="nbChambres" placeholder="Nombre de chambres" required min="0" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500" />
    </div>
    <div class="mb-4">
        <label for="surface" class="block text-gray-700 font-bold mb-2">Superficie</label>
        <input type="number" id="surface" name="surface" placeholder="Superficie" required min="0" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500" />
    </div>
    <div class="mb-4">
        <label for="images" class="block text-gray-700 font-bold mb-2">Images</label>
        <input type="file" id="images" name="images" required class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500" />
    </div>
    <button type="submit" class="w-full bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-4 rounded-md shadow-md hover:shadow-lg transition duration-300 ease-in-out transform hover:scale-105 active:scale-95">Ajouter</button>
</form>


